
h5{
    font-weight: 800px;
}

.btn-green {
    --bs-btn-color: #fff;
    --bs-btn-bg: #66c09a;
    --bs-btn-border-color: #66c09a;
    --bs-btn-hover-color: #f1ee23;
    --bs-btn-hover-bg: #12ad1f;
    --bs-btn-hover-border-color: #12ad1f;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0dfd99;
    --bs-btn-active-border-color: #0dfd99;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0dfd99;
    --bs-btn-disabled-border-color: #0dfd99;
}

.card-body img{
    width: 300px;
    height: 200px;
}

#video-background{
    width:auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0px;
    left:0px;
    right:0px;
    bottom:0px;
    z-index:-100;
}
.video-caption{
    margin-top: 20%;
}
.video-caption.text-center h1{
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 40px;
}
.margintop-30{
    margin-top: 30px;
}
.margintop-30 .btn.btn-warning{
    color:#fff;
}